je suis login
{{msg.txt}}

<form action="{{action}}" method="POST">
  <label for="email">Write your email</label>
  <input id="email" type="text" name="email">

  <label for="password">Write your password</label>
  <input id="password" type="password" name="password">

  <button type="submit">Login</button>

</form>