Login page
{{msg}}

<div class="form_container">
  <form action="/login" method="POST">
    <label for="email">Write your email</label>
    <input id="email" type="text" name="email" value="test@test.fr">

    <label for="password">Write your password</label>
    <input id="password" type="password" name="password" value="test">

    <button type="submit" class="form_btn">Login</button>
    <button class="form_btn"><a href="/register">You don't have an account yet, Create a new one !</a></button>

  </form>
</div>
