je suis login
{{#if msg}}
<p>YOYO</p>
{{/if}}

{{#if failureFlash}}
{{message}}
{{/if}}

<form action="/login" method="POST">
  <label for="email">Write your email</label>
  <input id="email" type="text" name="email" value="chheantest">

  <label for="password">Write your password</label>
  <input id="password" type="password" name="password" value="chheantest">

  <button type="submit">Login</button>

</form>