<h1>this is the dashboard to manage articles</h1>

<form action="" method="GET">
  <thead>
    <tr>
      <th scope="col" name="">Title</th>
      <th scope="col" name="">prompt</th>
      <th scope="col" name="">Author</th>
      <th scope="col" name="">date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Donuts</th>
      <td>3,000</td>
    </tr>
    <tr>
      <th scope="row">Stationary</th>
      <td>18,000</td>
    </tr>
  </tbody>
  <a href="/process-article">Create</a>
</form>