<div class="title-container">Last news</div>
<div class="gallery-container">
  <a href="https://www.commentcamarche.net/forum/affich-1715263-html-bouton-lien"><img src="/images/adult-businessman-ceo-618613.jpg" alt="CAPTURE" class="capture"><h2 class="Style5">Compagny Name</h2></a>
  <a href="https://www.commentcamarche.net/forum/affich-1715263-html-bouton-lien"><img src="/images/back-black-and-white-buildings-1435194.jpg" alt="CAPTURE" class="capture"></a>
  <a href="https://www.commentcamarche.net/forum/affich-1715263-html-bouton-lien"><img src="/images/businessman-collaborate-collaboration-872957.jpg" alt="CAPTURE" class="capture"></a>
</div>




