<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h1>HOME PAGE!</h1>
<section class="galery-container">
  <img src="" alt="CAPTURE" class="capture">
  <img src="" alt="CAPTURE" class="capture">
  <img src="" alt="CAPTURE" class="capture">
</section>


