<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="/javascripts/script.js"></script>
</head>

<body>
<header class="logo">
  TechAsia
</header>
<hr class="hr-for-nav">
  <nav>
    <a href="/">Home</a>
    <a href="/news">News</a>
    <a href="/stories">Stories</a>
    <a href="/discover">Discover</a>
    <a href="/articles_dashboard">art_dash</a>
    <span class="register">
      <a href="/register">register</a>
      <a href="/login">login</a>
    </span>
  </nav>
  <hr class="hr-for-nav">

  {{{body}}}
  <footer>
    <a href="/about">About</a>

  </footer>
</body>

</html>