<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <style>
    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
  </style>
  <script src="/javascripts/script.js"></script>
</head>

<body>
    <header class="logo">
      <a href="/">
          TechAsia
      </a>
    </header>

  <hr class="hr-for-nav">
  <nav>
    <a href="/">Home</a>
    <a href="/news">News</a>
    <a href="/stories">Stories</a>
    <a href="/discover">Discover</a>
    {{#if isLoggedIn}}
    {{#compare user.status 'admin' operator="==="}}
    <a href="/articles_dashboard">art_dash</a>
    {{/compare}}
    {{/if}}

    {{#unless isLoggedIn}}
    <span class="register">
      <a href="/register">Register</a>
      <a href="/login">Login</a>
      {{/unless}}
      {{#if isLoggedIn}}
      <a href="/profile">Your profile / Log out</a>
      {{/if}}

    </span>
  </nav>
  <hr class="hr-for-nav">

  {{{body}}}
  <footer>
    <a href="/about">About</a>

  </footer>
</body>

</html>