<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="/javascripts/script.js"></script>
</head>

<body>
<header class="logo">
  TechAsia
</header>
<hr>
  <nav>
<<<<<<< HEAD
    <a href="/">Home</a>
    <a href="/news">News</a>
    <a href="/stories">Stories</a>
    <a href="/discover">Discover</a>
    <a href="/articles_dashboard">articles_dashboard</a>
    <span class="register"><a href="/register">register</a></span>
=======
    <span class="first">
      <a href="/">Home</a>
      <a href="/news">News</a>
      <a href="/stories">Stories</a>
      <a href="/discover">Discover</a>
    </span>
    <span class="register"></span><a href="/register">register</a></span>
>>>>>>> f33e0da7319ce6f37dc65dfa2cec08da7e47cecb
  </nav>
  <hr>

  {{{body}}}

  <footer>
    <a href="/about">About</a>

  </footer>
</body>

</html>