<form action="/profile" method="post">
  <label for="">Choose your pseudo</label>
  <input type="text" name="pseudo_creation">

  <label for="">Choose your password</label>
  <input type="text" name="password_creation">

  <label for="">Write your email</label>
  <input type="text" name="email_declaration">

{{!-- ☀️ HOW TO UPLOAD PROFILE PICTURE 
  <label for="">Upload a picture</label>
  <input type="text" name="profile-picture"> --}}

  <button type="submit">ADD</button>

</form>