<form action="/log-in" method="POST">
  <label for="">Choose your pseudo</label>
  <input type="text" name="pseudo" value="dede">

  <label for="">Choose your password</label>
  <input type="text" name="password" value="123Soleil">

  <label for="">Write your email</label>
  <input type="text" name="email" value="foo@foo.com">

{{!-- ☀️ HOW TO UPLOAD PROFILE PICTURE 
  <label for="">Upload a picture</label>
  <input type="text" name="profile-picture"> --}}

  <button type="submit">ADD</button>

</form>