<h1>PROFILE PAGE</h1>

<div class="profile_container">
  <section class="pseudo">
    <h1>your pseudo</h1>
    <p>{{profileData.pseudo}}</p>
  </section>
  <section class="email">
    <h1>your email</h1>
    <p>{{profileData.email}}</p>
  </section>
  <section class="password">
    <h1>your password</h1>
    <p>{{profileData.password}}</p>
  </section>
</div>


<div>
  <button class="edit_profile">Edit</button>
  <button class="delete_profile">Delete</button>
</div>