<h1>PROFILE PAGE</h1>

<div class="profile_container">
  <section class="pseudo">
    <h1>your pseudo</h1>
    <p>{{profiles.pseudo}}</p>
  </section>
  <section class="email">
    <h1>your email</h1>
    <p></p>
  </section>
  <section class="password">
    <h1>your password</h1>
    <p></p>
  </section>
</div>


<div>
  <button class="edit_profile">Edit</button>
  <button class="delete_profile">Delete</button>
</div>