<form action="/profile-edit/{{}}" method="POST">
  <label for="">Choose your pseudo</label>
  <input type="text" name="pseudo" value="foofoo">

  <label for="">Choose your password</label>
  <input type="password" name="password" value="123Soleil">

  <label for="">Write your email</label>
  <input type="text" name="email" value="baz@foo.bar">

  {{!-- ☀️ HOW TO UPLOAD PROFILE PICTURE 
  <label for="">Upload a picture</label>
  <input type="text" name="profile-picture"> --}}

  <button type="submit">ADD</button>

</form>